<div class="container">
  <mat-card class="login-card">
    <mat-card-content>
      <h2 class="text-center text-white">Logowanie</h2>
      <p class="text-center text-white">Zaloguj się!</p>
      <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email:</mat-label>
          <input
            matInput
            type="email"
            required
            [(ngModel)]="loginData.email"
            name="email"
            #email="ngModel"
          />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password:</mat-label>
          <input
            matInput
            type="password"
            required
            [(ngModel)]="loginData.password"
            name="password"
            #password="ngModel"
          />
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>
      <p class="text-center text-white">Nie masz konta? <a routerLink="register" class="text-white">Dołącz teraz!</a></p>
    </mat-card-content>
  </mat-card>
</div>
