    <div class="container">
      <mat-card class="register-card">
        <mat-card-content>
          <h2 class="text-center text-white">Rejestracja</h2>
          <p class="text-center text-white">Zarejestruj się!</p>
          <form (ngSubmit)="onRegisterSubmit()" #loginForm="ngForm">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email:</mat-label>
              <input
                matInput
                type="email"
                required
                [(ngModel)]="registerData.email"
                name="email"
                #email="ngModel"
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Username:</mat-label>
              <input
                matInput
                type="username"
                required
                [(ngModel)]="registerData.username"
                name="username"
                #username="ngModel"
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password:</mat-label>
              <input
                matInput
                type="password"
                required
                [(ngModel)]="registerData.password"
                name="password"
                #password="ngModel"
              />
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit">Register</button>
            </div>
          </form>
          <p class="text-center text-white">Masz konto?<a routerLink=""> Zaloguj się!</a></p>
        </mat-card-content>
      </mat-card>
    </div>
    
    
    